.content h1 {
    font-weight: 500;
    background: linear-gradient(0.9turn, #E089FF, #47BDFF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-transform: capitalize;
}

.content ul {
    min-width: 250px;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

.content ul li {
    list-style-type: none;
    display: inline-block;
}

.content ul li button {
    all: unset;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.content ul li button:hover {
  opacity: 0.5;
  transition: .5s ease-in-out;
}

@media(max-width: 800px){
  .content {
    text-align: center;
  }

  .content h1 {
    font-size: 1.6rem;
  }
}